<!doctype html>
<html>
  <head>
    <title>Flatiron Coding Club</title>
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
  <h1>Flatiron Coding Club: <%= @school_name %></h1>
  <p>Your Club's Leader: <%= @leader_first %></p>
  </body>
</html>