<!doctype html>
<html>
  <head>
    <title>Flatiron Coding Club</title>
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
  <h1>Flatiron Coding Club: <%= @club.school_name %></h1>
  <h1>Leader: <%= @club.leader_first %></h1>
  <!-- <p>Your Club's Leader: <%#= @leader_first %></p> -->
  </body>
</html>