<!doctype html>
<html>
  <head>
    <title>Flatiron Coding Club</title>
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <h1>Flatiron Coding Club</h1>
    <div id="register">
      <p><a href="/register">Create a New Coding Club!</a></p>
    </div>
    <div id="user">
      <p><a href="/login">Join Your School's Coding Club!</a></p>
    </div>
  </body>
</html>