<!doctype html>
<html>
  <head>
    <title>Flatiron Coding Club</title>
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
  <h1>Flatiron Coding Club</h1>
  <p>Become a Member of Your School's Club</p>
  </body>
</html>