
    <p>Register Your Club!</p>
    <form action='/club' method="post">
      <p>Leader's First Name: <input type="text" name="leader_first"></p></br>
      <p>Leader's Last Name: <input type="text" name="leader_last"></p></br>
      <p>Leader's Email: <input type="text" name="leader_email"></p></br>
      <p>Leader's T-Shirt Size: <input type="text" name="leader_size"></p></br>
      <p>Leader's Graduation Year: <input type="text" name="leader_graduation"></p></br>
      <p>School Name: <input type="text" name="school_name"></p></br>
      <p>School Address</p>
      <p>Road: <input type="text" name="school_road"></p></br>
      <p>City: <input type="text" name="school_city"></p></br>
      <p>State: <input type="text" name="school_state"></p>
      <p>Zip: <input type="text" name="school_zip"></p></br>

      <input class="btn btn-primary" type="Submit">
    </form>
