<!doctype html>
<html>
  <head>
    <title>Flatiron Coding Club</title>
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <h1>Flatiron Coding Club</h1>
    <p>Register Your Club!</p>
  </body>
</html>